.footer-container {
    background-color: #2d3142;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Set the desired height */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Adjust alignment to move icons down */
  }
  
  .footer-icons {
    display: flex;
    justify-content: space-around; /* Adjust alignment to maintain even spacing */
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 24px;
    height: 24px;
    
  }
  
  .footer-icons a:hover {
    color: #888;
  }
  
  
  .footer-icons li {
    margin: 0 70px; /* Adjust spacing between icons */
  }
  
  .footer-icons a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-icons svg {
    fill: #fff;
    font-size: 24px;
  }
  
  /* Media Query for Mobile Devices */
  @media (max-width: 768px) {
    .footer-container {
      height: 60px; /* Adjust height for mobile devices */
      padding: 5px 0;
    }
  

    .footer-icons li {
      margin: 0 3px; /* Adjust spacing between icons for mobile devices */
    }
  
    .footer-icons svg {
      font-size: 20px; /* Adjust icon size for mobile devices */
    }
    .footer-container {
      background-color: #2d3142;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px; /* Set the desired height */
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center; /* Adjust alignment to move icons down */
    }
    
    .footer-icons {
      display: flex;
      justify-content: space-around; /* Adjust alignment to maintain even spacing */
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 24px;
      height: 24px;
      
    }
  }
  